icons/icon.png
icons/icon_fixed.png
node_modules/
icons/logo_app.webp
icons/icon_cropped.png
package-lock.json
package.json
icons/package-lock.json
icons/package.json
icons/source_new.png

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
